<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div id="video-container">
            <img id="liveView" src="/video_feed" alt="Live View" width="800">
        </div>  
        <div>
            <text>F Number:</text>
            <input 
                type="range" 
                min="{{ available_f_numbers[1][0] if available_f_numbers[1] else 0 }}" 
                max="{{ available_f_numbers[1][-1] if available_f_numbers[1] else 30 }}" 
                value="{{ available_f_numbers[0] if available_f_numbers[0] else 5 }}" 
                step="0.1" 
                class="slider" 
                id="fNumberSlider" 
                oninput="setFNumber(this.value)"
            >
        </div>
        <div class="controls">
            <select id="shootMode" name="shoot_mode">
                <option value="still">Still</option>
                <option value="movie">Movie</option>
                <option value="audio">Audio</option>
                <option value="intervalstill">Interval Still</option>
                <option value="looprec">Loop Recording</option>
            </select>
            <button type="submit" onclick="setShootMode()">Set Shoot Mode</button>

            <button onclick="sendCameraFunction('startRecMode')">Start Rec Mode</button>
            <button onclick="sendCameraFunction('stopRecMode')">Stop Rec Mode</button>
            <button onclick="sendPostviewImageSize('large')">Set Postview Image Size</button>
            <button onclick="sendPostviewImageSize('small')">Set Postview Image Size (Small)</button>
            <button onclick="sendFlashMode('auto')">Set Flash Mode (Auto)</button>
            <button onclick="sendFlashMode('off')">Set Flash Mode (Off)</button>
            <button onclick="sendFocusMode('auto')">Set Focus Mode (Auto)</button>
            <button onclick="sendFocusMode('manual')">Set Focus Mode (Manual)</button>
            <button onclick="sendIsoSpeedRate(800)">Set ISO Speed Rate (800)</button>
            <button onclick="sendIsoSpeedRate(1600)">Set ISO Speed Rate (1600)</button>
            <button onclick="sendShutterSpeed('1/60')">Set Shutter Speed (1/60)</button>
            <button onclick="sendShutterSpeed('1/125')">Set Shutter Speed (1/125)</button>
            <button onclick="sendFNumber('5.6')">Set F Number (5.6)</button>
            <button onclick="sendFNumber('8')">Set F Number (8)</button>
            <button onclick="sendSelfTimer('2s')">Set Self Timer (2s)</button>
            <button onclick="sendSelfTimer('5s')">Set Self Timer (5s)</button>
            <button onclick="capture()">Capture</button>
            <button onclick="liveViewOn()">Live View On</button>
            <button onclick="liveViewOff()">Live View Off</button>
        </div>
    </div>

    <script>
        function sendCameraFunction(method) {
            fetch('/camera_control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({method: method})
            })
            .then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error('Error:', error));
        }
   
        function setFNumber(value) {
        // Make a request to set the F number
            fetch('/update_f_number', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ f_number: value })
            })
            .then(response => {
                if (response.ok) {
                    console.log('F Number updated successfully');
                } else {
                    console.error('Error updating F Number:', response.statusText);
                }
            })
            .catch(error => console.error('Error:', error));
        }          

    </script>
</body>
</html>
